minecraft/.cache
minecraft/.mixin.out
minecraft/bluemap
minecraft/crash-reports
minecraft/data
minecraft/downloads
minecraft/logs
minecraft/schematics
minecraft/screenshots
minecraft/server-resource-packs
minecraft/shaderpacks
minecraft/texturepacks
minecraft/xaero
minecraft/XaeroWaypoints_BACKUP240807
minecraft/command_history.txt
minecraft/imgui.ini
minecraft/options.txt
minecraft/ponders_watched.json
minecraft/servers.dat
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/saves
last_world.fmdata
minecraft/config
instance.cfg